@tailwind base;
html{
   scroll-behavior: smooth;
}

ion-icon {
    pointer-events: none;
}

@tailwind components;
.bg-projects{
    background-color: #75FFFF;
}
.bg-footer{
    background-color: #10142D;
}

@tailwind utilities;
.fade-left-enter-active,
.fade-left-leave-active {
  transition: all 150ms ease-in-out;
}

.fade-left-enter-from,
.fade-left-leave-to {
    opacity: 0;   
    right: -5%;
}
